{% extends "index" %}

{% block styles %}
	<style>
		body,
		html {
			height: 100%;
		}
		.wrapper {
			align-items: center;
		}
	</style>
{% endblock %}

{% block content %}
	<main class="c-login">
		<div class="c-login__errors">
        	 {% if errorMessage is defined and errorCode is defined %}
             <div class="c-login__error">
                <span class="c-login__errorHeader">
                    <figure class="c-login__errorMark">!</figure>
                    <h5 class="c-login__errorTitle">{{ errorCode }}</h5>
                    <ion-icon name="close-outline" class="c-login__errorClose"></ion-icon>
                </span>
				<p class="c-login__errorMessage">{{ errorMessage }}</p>
             </div>
			{% endif %}
        </div>

		<h2>Log into your account</h2>
		<form method="post" accept-charset="UTF-8" class="c-login__form">
			{{ csrfInput() }}
			{{ actionInput('users/login') }}

			<label for="loginName" class="c-login__formLabel">
				Email
				{{ input('text', 'loginName', craft.app.user.rememberedUsername, { id: 'loginName', autocomplete: 'username' }) }}
			</label>

			<label for="password" class="c-login__formLabel">
				Password
				<ion-icon name="eye-off-outline" class="c-login__passwordVisiblity"></ion-icon>
				{{ input('password', 'password', null, { id: 'password', }) }}
			</label>

			<label class="c-login__remember">
				{{ input('checkbox', 'rememberMe', '1') }}
				Remember me
			</label>

			<button class="c-login__submit">Login</button>
		</form>

		<p>
			<a href="{{ url('reset-password') }}">Forgot your password?</a>
		</p>
	</main>

{% endblock %}


{% block javascripts %}
    <script>
        const error = document.querySelector(".c-login__error");
        const close = document.querySelector(".c-login__errorClose")
        const title = document.querySelector(".c-login__errorTitle")

        if(title) title.innerHTML = title.innerHTML.charAt(0).toUpperCase() + title.innerHTML.slice(1).replace("_"," ")

        if(close) close.addEventListener("click", () => { error.remove() })

		const password = document.querySelector("label[for='password'] input")
		const passwordVisiblity = document.querySelector(".c-login__passwordVisiblity")

		if(password && passwordVisiblity) {
			passwordVisiblity.addEventListener('click', () => {
				const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
				const name = passwordVisiblity.getAttribute('name') === 'eye-off-outline' ? 'eye-outline' : 'eye-off-outline'
				password.setAttribute('type', type);
				passwordVisiblity.setAttribute('name', name)
			});
		}
    </script>

    {% if rememberMe is defined and rememberMe %}
        <script>
            document.querySelector("input[name='rememberMe']").checked = true;
        </script>
    {% endif %}
    
{% endblock %}