{% extends "index" %}

{% block external_scripts %}
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.0/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.0/mapbox-gl.js"></script>
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.1/mapbox-gl-draw.js"></script>
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css" type="text/css">
{% endblock %}

{% block styles %}
	<style>
		.c-header {
			padding: 2rem 2rem 0.3rem;
		}
	</style>
{% endblock %}

{% set myUserQuery = craft.users().group('participants').status('active') %}
{% set users = myUserQuery.all() %}
{% set addresses = [] %}
{% set cId = random() %}
{% set hubIDs = [] %}
{% set countedHubIDs = [] %}
{% set currentHubID = null %}
{% set collectiveIDs = [] %}
{% set countedCollectiveIDs = [] %}
{% set currentCollectiveID = null %}
{% set currentCollectiveName = "" %}
{% set hubLengthCount = [] %}
{% set founder = false %}
{% set isHub = false %}
{% set specialProgram = false %}
{% set markerMatrix = map.markerMatrix.one() %}
{% set markerstyles = { 
	routeIcon: markerMatrix.route.one() ? markerMatrix.route.one().url : "",
	hubIcon: markerMatrix.hub.one() ? markerMatrix.hub.one().url : "",
	collectiveIcon: markerMatrix.collective.one() ? markerMatrix.collective.one().url : "",
	specialProgramIcon: markerMatrix.specialProgram.one() ? markerMatrix.specialProgram.one().url : "",
	founderIcon: markerMatrix.founder.one() ? markerMatrix.founder.one().url : "",
	locationsIcon: markerMatrix.locations.one() ? markerMatrix.locations.one().url : "",
	hubSlideDuration: map.hubSlideDuration,
	size: map.markerSize,
} %}
{% set locked = false %}
{% set directionsArray = ["one", "two", "three", "four"] %}
{% set break = false %}

{# Generate data tags with user info for making map markers #}
{% for user in users %}
	{% if user.mapAddress|length > 0 and user.mapPostalCode|length > 0 %}

		{% for unique in addresses %}
			{% if not break %}
				{% if unique.postalCode == user.mapPostalCode %}
					{% set cId = unique.id %}
					{% set hubIDs = hubIDs|merge([unique.id]) %}
					{% set break = true %}
				{% else %}
					{% set cId = random() %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% set break = false %}
		{% for group in user.groups %}
			{% if not break %}
				{% if group.handle == "founders" %}
					{% set founder = true %}
					{% set break = true %}
				{% else %}
					{% set founder = false %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% set break = false %}
		{% for group in user.groups %}
			{% if not break %}
				{% if group.handle == "specialProgram" %}
					{% set specialProgram = true %}
					{% set break = true %}
				{% else %}
					{% set specialProgram = false %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% set break = false %}
		{% for group in user.groups %}
			{% if not break %}
				{% if group.handle == "hub" %}
					{% set isHub = true %}
					{% set break = true %}
				{% else %}
					{% set isHub = false %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% set address = { 
			id: cId,
			postalCode: user.mapPostalCode,
			address: user.mapAddress ~ ", " ~ user.mapPostalCode,
			founder: founder,
			specialProgram: specialProgram,
			isHub: isHub,
			fullName: user.fullName,
			username: user.username,
			thumbnail: user.thumbnail.one() ? user.thumbnail.one().url : map.markerThumbnailPlaceholder.one().url,
		} %}
		{% set addresses = addresses|merge([address]) %}
		{% set break = false %}
	{% endif %}
{% endfor %}

{% block content %}
	<main class="c-map__wrapper" style="{% if addresses|length == 0 %} grid-template-columns: 1fr; grid-template-areas: 'map'; {% endif %}">
		<ul class="c-map__headers">
			<li class="c-map__headersClose">
				<button class="c-map__menuDirectionCloseButton">
					<ion-icon name="arrow-back-outline"></ion-icon>
					Close
				</button>
			</li>
			<li class="c-map__headersGroup"></li>
		</ul>
		<ul class="c-map__menu" style="{% if addresses|length == 0 %} display:none; {% endif %}">
			{% for direction in directionsArray %}
				{% if map.routes.cardinalDirection(direction).all()|length > 0 %}
					<div class="c-map__menuDirectionTab c-map__menuDirectionTab-{{loop.index}}">
						{% for route in map.routes.cardinalDirection(direction).all() %}
							{% set currentroute = [] %}
							{% for poi in route.poi.all() %}
								{% set currentuser = craft.users().id(poi.id).one() %}
								{% set maproute = [{
						fullName: currentuser.fullName,
						postalCode: currentuser.mapPostalCode,
						username: currentuser.username,
					}] %}
								{% set currentroute = currentroute|merge(maproute) %}
							{% endfor %}
							{% set currentroute = { routeName: route.routeName, pois: currentroute } %}
							<li class="c-map__menuItem c-map__menuTab c-map__menuRoute" data-route="{{ currentroute|json_encode }}">
								<h2>{{ route.routeName }}</h2>
							</li>
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}

			{% for direction in directionsArray %}
				{% if map.routes.cardinalDirection(direction).all()|length > 0 %}
					{% if loop.index == 1 %}
						{% set groupHandle = map.groupOneHandle %}
					{% elseif loop.index == 2 %}
						{% set groupHandle = map.groupTwoHandle %}
					{% elseif loop.index == 3 %}
						{% set groupHandle = map.groupThreeHandle %}
					{% elseif loop.index == 4 %}
						{% set groupHandle = map.groupFourHandle %}
					{% endif %}

					<li class="c-map__menuDirectionButton c-map__menuItem" data-locked="{{ locked|json_encode }}" data-i="{{loop.index}}" data-group="{{groupHandle}}">
						{% if locked %}
							<span class="c-map__menuLockOverlay"></span>
						{% endif %}
						<h2>{{groupHandle}}</h2>
					</li>
				{% endif %}
			{% endfor %}

			<li class="c-map__locationsOverview c-map__menuItem-{{directionsArray|length + 1}} c-map__menuItem">
				<h2>Locations</h2>
				<ol>
					{# HUBS #}
					{% for address in addresses %}
						{% if address.id in hubIDs and currentHubID != address.id  %}
							{% set currentHubID = address.id %}
							{% set currentHubName = "" %}
						{% endif %}

						{% for address in addresses %}
							{% if currentHubID == address.id and address.isHub %}
								{% set currentHubName = address.fullName %}
							{% endif %}
						{% endfor %}

						{% if address.id in hubIDs %}
							{% if address.id not in countedHubIDs %}
								{% set countedHubIDs = countedHubIDs|merge([address.id]) %}

								{% for id in hubIDs %}
									{%  if id == address.id  %}
										{% set hubLengthCount = hubLengthCount|merge([address.id]) %}
									{% endif %}
								{% endfor %}
								{% set hubLengthCount = hubLengthCount|merge([address.id]) %}

								{% if hubLengthCount|length < map.hubMinimumCount %}
									{% set collectiveIDs = collectiveIDs|merge([address.id]) %}
								{% else %}
									<li class="c-map__locationButtonWrapper" data-postal-code="{{address.postalCode}}" data-c-id="{{address.id}}">
										<button class="c-map__locationButton">

											{% if currentHubName and currentHubName|length > 0 %}
												{{ currentHubName }}
											{% else %}
												{{ address.fullName }}
											{% endif %}

											{{ map.hubSuffix }}

											<ion-icon name="chevron-forward-sharp"></ion-icon>

										</button>
									</li>
								{% endif %}
								{% set hubLengthCount = [] %}
							{% endif %}
						{% endif %}
					{% endfor %}

					{# COLLECTIVES #}
					{% for address in addresses %}
						{% if address.id in collectiveIDs and currentCollectiveID != address.id  %}
							{% set currentCollectiveID = address.id %}
							{% set currentCollectiveName = "" %}
						{% endif %}

						{% for address in addresses %}
							{% if currentCollectiveID == address.id and address.isHub %}
								{% set currentCollectiveName = address.fullName %}
							{% endif %}
						{% endfor %}

						{% if address.id in collectiveIDs %}
							{% if address.id not in countedCollectiveIDs %}
								{% set countedCollectiveIDs = countedCollectiveIDs|merge([address.id]) %}
								<li class="c-map__locationButtonWrapper" data-postal-code="{{address.postalCode}}" data-c-id="{{address.id}}">
									<button class="c-map__locationButton">
										{% if currentCollectiveName and currentCollectiveName|length > 0 %}
											{{ currentCollectiveName }}
										{% else %}
											{{ address.fullName }}
										{% endif %}

										{{ map.collectiveSuffix }}
										<ion-icon name="chevron-forward-sharp"></ion-icon>
									</button>
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}

					{# LOCATIONS #}
					{% for address in addresses %}
						{% if address.id not in hubIDs %}
							<li class="c-map__locationButtonWrapper" data-postal-code="{{address.postalCode}}" data-c-id="{{address.id}}">
								<button class="c-map__locationButton">{{address.fullName}}
									<ion-icon name="chevron-forward-sharp"></ion-icon>
								</button>
							</li>
						{% endif %}
					{% endfor %}
				</ol>
			</li>
		</ul>
		<div class="c-map" id="map" data-addresses="{{ addresses|json_encode }}" data-token="{{ map.token }}" data-styles="{{ map.stylesheet }}" data-marker-styles="{{ markerstyles|json_encode }}" data-zoom="{{ map.mapZoom }}" data-pitch="{{ map.mapPitch }}" data-bearing="{{ map.mapBearing }}" data-hub-minimum-count="{{ map.hubMinimumCount }}"/>
	</main>
{% endblock %}

{% block javascripts %}
	<script src="{{ alias('@cscripts') }}/map/mapbox.js" type="module"></script>
{% endblock %}
