{% extends "index" %}

{% block external_scripts %}
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.0/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.0/mapbox-gl.js"></script>
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.1/mapbox-gl-draw.js"></script>
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.0/mapbox-gl-draw.css" type="text/css">
{% endblock %}

{% set myUserQuery = craft.users().group('participants').status('active') %}
{% set users = myUserQuery.all() %}
{% set addresses = [] %}
{% set markerstyles = { routeIcon: map.routeMarkerIcon.one().url, locationsIcon: map.locationsMarkerIcon.one().url, size: map.markerSize } %}
{% set locked = false %}
{% set directionsArray = ["one", "two", "three", "four"] %}

{# Generate data tags with user info for making map markers #}
{% for user in users %}
	{% if user.mapAddress|length > 0 and user.mapPostalCode|length > 0 %}
		{% set address = { 
			postalCode: user.mapPostalCode,
			address: user.mapAddress ~ ", " ~ user.mapPostalCode,
			fullName: user.fullName,
			username: user.username,
			thumbnail: user.thumbnail.one() ? user.thumbnail.one().url : map.markerThumbnailPlaceholder.one().url,
		} %}
		{% set addresses = addresses|merge([address]) %}
	{% endif %}
{% endfor %}

{# Generate data tags with addresses for making routes #}
{% block content %}
	<main class="c-map__wrapper">
		<ul class="c-map__menu">
			{% for direction in directionsArray %}
				{% if map.routes.cardinalDirection(direction).all()|length > 0 %}
					<div class="c-map__menuDirectionTab c-map__menuDirectionTab-{{loop.index}}">
						<button class="c-map__menuDirectionCloseButton">
							<ion-icon name="close-outline"></ion-icon>
						</button>
						{% for route in map.routes.cardinalDirection(direction).all() %}
							{% set currentroute = [] %}
							{% for poi in route.poi.all() %}
								{% set currentuser = craft.users().id(poi.id).one() %}
								{% set maproute = [{
						fullName: currentuser.fullName,
						postalCode: currentuser.mapPostalCode,
						username: currentuser.username,
					}] %}
								{% set currentroute = currentroute|merge(maproute) %}
							{% endfor %}
							{% set currentroute = { routeName: route.routeName, pois: currentroute } %}
							<li class="c-map__menuItem c-map__menuTab c-map__menuRoute" data-route="{{ currentroute|json_encode }}">
								<h2>{{ route.routeName }}</h2>
							</li>
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}

			{% for direction in directionsArray %}
				{% if map.routes.cardinalDirection(direction).all()|length > 0 %}
					<li class="c-map__menuDirectionButton c-map__menuItem" data-locked="{{ locked|json_encode }}" data-i="{{loop.index}}">
						{% if locked %}
							<span class="c-map__menuLockOverlay"></span>
						{% endif %}
						<h2>
							{% if loop.index == 1 %}
								{{ map.groupOneHandle }}
							{% elseif loop.index == 2 %}
								{{ map.groupTwoHandle }}
							{% elseif loop.index == 3 %}
								{{ map.groupThreeHandle }}
							{% elseif loop.index == 4 %}
								{{ map.groupFourHandle }}
							{% endif %}
						</h2>
					</li>
				{% endif %}
			{% endfor %}

			<li class="c-map__locationsOverview c-map__menuItem-{{directionsArray|length + 1}} c-map__menuItem">
				<h2>Locations</h2>
				<ol>
					{% for address in addresses %}
						<li class="c-map__locationButtonWrapper" data-postal-code="{{address.postalCode}}">
							<button class="c-map__locationButton">{{address.fullName}}
								<ion-icon name="chevron-forward-sharp"></ion-icon>
							</button>
						</li>
					{% endfor %}
				</ol>
			</li>
		</ul>
		<div class="c-map" id="map" data-addresses="{{ addresses|json_encode }}" data-token="{{ map.token }}" data-styles="{{ map.stylesheet }}" data-marker-styles="{{ markerstyles|json_encode }}" data-zoom="{{ map.mapZoom }}" data-pitch="{{ map.mapPitch }}" data-bearing="{{ map.mapBearing }}"/>
	</main>
{% endblock %}

{% block javascripts %}
	<script src="{{ siteUrl }}scripts/map/mapbox.js" type="module"></script>
{% endblock %}
