{% extends "index" %}

{% set entries = craft.entries.section('program').all()  %}

{% set cleaned_entries = [] %}

{% for entry in entries %}
    {% set cleaned_entry = {
        title: entry.title,
        type: entry.programType,
        members: entry.member.all(),
        date: entry.date|date("Y-m-d"),
        time: entry.time,
        rsvp: entry.rsvp,
        enabled: entry.enabled,
        author: entry.author,
        thumbnail: entry.thumbnail.one() ? entry.thumbnail.one().url : null,
    } %}

    {% set cleaned_entries = cleaned_entries|merge([cleaned_entry]) %}
{% endfor %}

{% block content %}

	<main class="c-program">
        <p>You can check out the old program <a href="https://2023.glue.amsterdam/program" target="_blank">here!</a></p>

		<div class="c-program__menu">
			{% include "components/event-date-selector.twig" with { format: "l j F", all: true } %}
			<div class="c-program__menuFilterWrapper">
				<button class="c-program__menuFilter">
					<ion-icon name="filter-outline"></ion-icon>
				</button>
				<ul class="c-program__menuFilters">
					{% set field = craft.app.fields.getFieldByHandle('programType') %}
					{% for option in field.options %}
                        <li>
                            <label for="{{ option.value }}">
                                <input type="checkbox" name="{{ option.value }}" id="{{ option.value }}" data-value="{{ option.value }}" checked>
                                {{ option.label }}
                            </label>
                        </li>
					{% endfor %}
				</ul>
			</div>
			<span class="c-program__menuSearchWrapper">
				<ion-icon name="search-outline"></ion-icon>
				<input type="text" class="c-program__menuSearch">
			</span>
		</div>

        <ul class="c-program__entries" data-entries="{{ cleaned_entries|json_encode }}"></ul>
	</main>

{% endblock %}

{% block javascripts %}
    <script src="{{ alias('@cscripts/program.js') }}" defer></script>
{% endblock %}
