{% extends "index" %}

{% set progressPoints = ["Package", "Account", "Company", "Invoice details",] %}

{% if number is not defined or number is null %}
	{% redirect '/register/1' %}
{% endif %}

{% set progress = number %}

{% block content %}
	<main class="c-register">
		<h2 class="c-register__title">Welcome to GLUE!</h2>

        <div class="c-register__errors">
        </div>

		<div class="c-register__progress">
			{% for point in progressPoints %}
				<div class="c-register__progressPoint {% if loop.index <= progress %} active {% endif %}">
					<span class="c-register__progressPointLine"></span>
					<span class="c-register__progressPointBall">{{ loop.index }}</span>
					<p class="c-register__progressPointText">{{ point }}</p>
					<span class="c-register__progressPointLine"></span>
				</div>
			{% endfor %}
		</div>

		{% if progress is same as("1") %}
			<div class="c-register__form c-register__form-1">
				<h4 class="c-register__formTitle">Select your package</h4>
				<p class="c-register__formSubTitle">Connect and promote your location during the GLUE event</p>
				<div class="c-register__formPackages">
					<div class="c-register__formPackage">
						<div class="c-register__formPackageHeading">
							<h3>BINDER option</h3>
							<p>One time purchase</p>
							<h2>€850*</h2>
						</div>
						<ul>
							<li>Dedicated company page</li>
							<li>The possibility to have your presentation/program enriched and fortified</li>
							<li>Dot on the GLUE map + part of a route</li>
							<li>Signage during 3 days of GLUE</li>
							<li>2 Invitaations to GLUE kick-off or after party</li>
							<li>1 Instagram post</li>
							<li>1 Instagram post about events organized during GLUE</li>
							<li>Event (talk, workshop, cocktail) featured in GLUE Events program.</li>
							<li>1 invitation to GLUE Community drinks ({{ "now"|date("Y") }})</li>
						</ul>
						<button class="c-register__formPackageSelect" data-package="BINDER">Select</button>
					</div>
					<div class="c-register__formPackage">
						<div class="c-register__formPackageHeading">
							<h3>CEMENT option</h3>
							<p>One time purchase</p>
							<h2>€1,950*</h2>
						</div>
						<ul>
							<li>All BINDER features</li>
						</ul>
						<span>As well as:</span>
						<ul>
							<li>1 extra Instagram post (2 in total)</li>
							<li>1 extra invitation to GLUE Community drinks ({{ "now"|date("Y") }})</li>
							<li>Possibility to host a GLUE Community drink organized by GLUE*</li>
						</ul>
						<button class="c-register__formPackageSelect" data-package="CEMENT">Select</button>
					</div>
					<div class="c-register__formPackage">
						<div class="c-register__formPackageHeading">
							<h3>SUPER GLUE option</h3>
							<p>One time purchase</p>
							<h2>€4,000*</h2>
						</div>
						<ul>
							<li>All CEMENT features</li>
						</ul>
						<span>As well as:</span>
						<ul>
							<li>2 extra Instagram posts (4 in total)</li>
							<li>1 extra Instagram post about events organized during GLUE (2 in total)</li>
						</ul>
						<button class="c-register__formPackageSelect" data-package="SUPER GLUE">Select</button>
					</div>
				</div>
				<p class="c-register__formVAT">*Excl. VAT</p>
				<span class="c-register__formPagination">
					<button class="c-register__formContinue disabled" disabled>Continue</button>
				</span>
			</div>
		{% endif %}

		{% if progress is same as("2") %}
			<div class="c-register__form c-register__form-2">
				<h4 class="c-register__formTitle">Set up your GLUE account</h4>
				<p class="c-register__formSubTitle">Connect and promote your location during the GLUE event</p>
				<label for="email" class="c-register__formLabel">
					Email
					<input type="email" class="c-register__formInput" name="email" id="email" placeholder="Type your Email here" required>
				</label>
				<label for="password" class="c-register__formLabel">
					Password
					<ion-icon name="eye-off-outline" class="c-register__formPasswordVisiblity"></ion-icon>
					<input type="password" class="c-register__formInput" name="password" id="password" placeholder="Type your password here" required>
				</label>

				<span class="c-register__formPagination">
					<button class="c-register__formPrevious">Previous</button>
					<button class="c-register__formContinue disabled" disabled>Continue</button>
				</span>
			</div>
		{% endif %}

		{% if progress is same as("3") %}
			<div class="c-register__form c-register__form-3">
				<h4 class="c-register__formTitle">Tell us about your company</h4>
				<p class="c-register__formSubTitle">Please provide us with the right information</p>
				<span class="c-register__formInputRow">
					<label for="companyname" class="c-register__formLabel">
						Company name*
						<input type="text" class="c-register__formInput" name="companyname" id="companyname" placeholder="Type your company name here" required>
					</label>
					<label for="phone" class="c-register__formLabel">
						Phone number
						<input type="phone" class="c-register__formInput" name="phone" id="phone" placeholder="E.g. +31 6 12345678">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="website" class="c-register__formLabel">
						Company website
						<input type="text" class="c-register__formInput" name="website" id="website" placeholder="Type your website here">
					</label>
					<label for="facebook" class="c-register__formLabel">
						Facebook page
						<input type="text" class="c-register__formInput" name="facebook" id="facebook" placeholder="E.g. facebook.com/example">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="instagram" class="c-register__formLabel">
						Instagram page
						<input type="text" class="c-register__formInput" name="instagram" id="instagram" placeholder="E.g. instagram.com/example">
					</label>
				</span>
				<span class="c-register__formPagination">
					<button class="c-register__formPrevious">Previous</button>
					<button class="c-register__formContinue disabled" disabled>Continue</button>
				</span>
			</div>
		{% endif %}

		{% if progress is same as("4") %}
			<div class="c-register__form c-register__form-4">
				<h4 class="c-register__formTitle">Invoice details</h4>
				<p class="c-register__formSubTitle">Please submit your billing information</p>
				<span class="c-register__formInputRow">
					<label for="invoicename" class="c-register__formLabel">
						Company name*
						<input type="text" class="c-register__formInput" name="invoicename" id="invoicename" placeholder="Type your company name here">
					</label>
					<label for="invoicezip" class="c-register__formLabel">
						ZIP/Postal Code*
						<input type="text" class="c-register__formInput" name="invoicezip" id="invoicezip" placeholder="E.g. 2000 AB">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="invoiceaddress" class="c-register__formLabel">
						Address*
						<input type="text" class="c-register__formInput" name="invoiceaddress" id="invoiceaddress" placeholder="E.g. Adamstraat 1">
					</label>
					<label for="invoicecountry" class="c-register__formLabel">
						Country*
						<input type="text" class="c-register__formInput" name="invoicecountry" id="invoicecountry" placeholder="E.g. the Netherlands">
					</label>
				</span>
				<span class="c-register__formInputRow">
					<label for="invoicecity" class="c-register__formLabel">
						City*
						<input type="text" class="c-register__formInput" name="invoicecity" id="invoicecity" placeholder="E.g. Amsterdam">
					</label>
					<label for="VAT" class="c-register__formLabel">
                        <span>VAT number <span class="red">(Only if your company is based overseas)</span></span>
						<input type="text" class="c-register__formInput" name="VAT" id="VAT" placeholder="Type your VAT number here">
					</label>
				</span>

				<span class="c-register__formPagination">
					<button class="c-register__formPrevious">Previous</button>
					<button class="c-register__formFinish disabled" disabled>Finish</button>
				</span>
			</div>
		{% endif %}

	</main>
{% endblock %}

{% block javascripts %}
	<script src="{{ siteUrl }}scripts/register/register.js" type="module"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
